.app_dark_theme {
  --bg-color: #0b0b3d;
  --inverted-bg-color: #e8e8e8;
  --primary-color: #05e805;
  --secondary-color: #059301;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #004dff;
}
